@import "../../../styles/colors";
@import "../../../styles/header-vars";

.module-navigation {
	@base-item-height: @header-height;

	&__item {
		height: @base-item-height;
		padding: 0 10px 0 13px;
		position: relative;
		min-width: 200px;
		justify-content: center;
		display: flex;
		flex-direction: column;

		// Active item highlight
		&:before {
			content: "";
			position: absolute;
			display: block;
			left: 0;
			top: 0;
			height: 100%;
			width: 3px;
		}

		&._active:before {
			background: @color-accent;
		}

		&, &:focus, &:hover {
			outline: none;
		}

		a {
			color: @color-gray;
		}

		&._active a,
		&:hover a {
			color: @color-white;
		}

		&s-wrapper {

		}
	}
}
